/pgp-keys.map
/download-metadata
/download-signatures
/extract-keyid
/extract-fingerprint

/artifact-signatures
/signatures
/keyring
/tools/extract-keyid/extract-keyid
/tools/extract-fingerprint/extract-fingerprint
/tools/download-metadata/download-metadata
/tools/download-signatures/download-signatures
